:root {
    --accent-color: whitesmoke;
    --medium-color: rgb(46, 64, 114);
    --dark-color: #000000;

    --card-height: 27vmax;
    --card-width: 45vmax;
    --card-hover-padding: 10vmax;
    --logo-height: 23vmax;
    --logo-front-shift: 27%;
    --background-cut-position: 80%;
    --logo-special-shift: 50%;
    --icon-animation-range: 2%;

    --logo-width: var(--logo-height);
    --logo-top: calc((var(--card-height) - var(--logo-height)) / 2);
    --logo-border-width: calc(var(--logo-height) * 0.07);
    --logo-bg-height: calc(var(--logo-height) + var(--logo-border-width));
    --logo-bg-width: calc(var(--logo-width) + var(--logo-border-width));
    --logo-bg-top: calc((var(--card-height) - var(--logo-bg-height)) / 2);
    --logo-back-shift: calc(100% - var(--logo-front-shift));
    --button-size: calc(var(--card-width) / 7);
    --title-size: calc(var(--card-width) / 10);
    --data-size: calc(var(--card-width) / 15);
    --subtitle-size: calc(var(--card-width) / 25);
    --small-size: calc(var(--card-width) / 35);
    --text-width: calc(var(--card-width) - var(--logo-front-shift) - var(--logo-width) / 2 - var(--logo-border-width) / 2);
}

body {
    /* background: var(--medium-color); */
    /* background-color: transparent; */
    background-color: transparent;
    /* background-image: url(../img/gplaypattern.jpg);
    background-repeat: repeat; */
}

/* .card {
    animation: none;
    transition: none;
}

.container:hover .card, .checkbox:checked + .card {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none;
    animation: none;
} */

.front {
    background: none;
    background-color: var(--accent-color);
}
.logo::before {
    display: none;
}
.logo {
    content: '';
    height: var(--logo-height);
    width: var(--logo-width);
    position: absolute;
    top: var(--logo-top);
    left: var(--logo-special-shift);
    transform: translateX(-50%) translateY(25%);
    background-color: var(--accent-color);
    mask-size: fill;
    mask-image: url(../img/LogoCuneo_Def_Clean.svg);
    mask-position: center top;
    mask-repeat: no-repeat;
    -webkit-mask-size: fill;
    -webkit-mask-image: url(../img/LogoCuneo_Def_Clean.svg);
    -webkit-mask-position: center top;
    -webkit-mask-repeat: no-repeat;
}

.logo::after {
    display: none;
}

.front {
    background: none;
    background-color: var(--medium-color);
}

.back {
    background: linear-gradient(180deg, var(--accent-color) var(--background-cut-position), var(--medium-color) var(--background-cut-position));
}

.downloader {
    background-color: none;
}

.data {
    top: calc(-1 * var(--subtitle-size));
}

.name {
    font-family: 'Open Sans';
    font-weight: bold;
    color: var(--dark-color);
}

.function {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: lighter;
    color: var(--medium-color);
}

.downloader:hover {
    cursor: pointer;
    background-color: transparent;
}

.downloader:hover::after {
    cursor: pointer;
    background-color: var(--medium-color);
}

.picture {
    position: absolute;
    top: 45%;
    left: var(--subtitle-size);
    height: var(--logo-height);
    width: 50%;
    transform: translateY(-50%);
}
.picture::after
{
    display:block;
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.picture img {
    position: absolute;
    bottom: -14.5%;
    left: 30%;
    height: 100%;
    width: auto;
    transform-origin: bottom center;
    transform: translateX(-50%);
    border-bottom: none;
}
.flip img {
    transform: translateX(-50%) scale(.8);
}
